.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.board{
  max-width: 100%;
  max-height: 100%;
}

.square {
  /*TODO: ovo će trebati refactorati da se skalira itd.*/
  border: 0;
  padding: 0;
  height: 12%;
  width: 12%;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.light {
  background-color: rgb(240, 217, 181);
}
.dark {
  background-color: rgb(181, 136, 89);
}

.white{
  background-color: antiquewhite;
  color: black;
}

.black{
  background-color: black;
  color: antiquewhite;
}

.no-padding{
  padding-left: 0;
  padding-right: 0;
}

.my-width{
  width: 150px;
}
